fastapi
uvicorn[standard]
python-multipart
pyyaml
spacy>=3.7,<3.8
pandas>=1.5
numpy>=1.23.5
thinc>=8.1.8,<8.3
python-docx>=0.8.11
faker>=18.0.0
openpyxl
PyYAML>=6.0
pymupdf
typer
yamale
slowapi>=0.1.9
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0.tar.gz#egg=fr_core_news_sm
https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.7.0/fr_core_news_md-3.7.0.tar.gz#egg=fr_core_news_md
-e .
