#
# Fichier principal des dépendances
# Référence le pyproject.toml pour les librairies et ajoute les modèles binaires
#

-e .

# Modèles Spacy (ces URLs ne peuvent pas être dans pyproject.toml pour distribution standard)
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0.tar.gz#egg=fr_core_news_sm
https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.7.0/fr_core_news_md-3.7.0.tar.gz#egg=fr_core_news_md
