[Unit]
Description=Anonyfiles API FastAPI service
After=network.target

[Service]
EnvironmentFile=/etc/default/anonyfiles-api
User=${ANONYFILES_USER}
WorkingDirectory=${ANONYFILES_HOME}
Environment="PATH=${ANONYFILES_HOME}/env-api/bin"
ExecStart=${ANONYFILES_HOME}/env-api/bin/uvicorn anonyfiles_api.api:app --host ${ANONYFILES_HOST} --port ${ANONYFILES_PORT}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
