# anonyfiles_cli/config_default.yaml
spacy_model: fr_core_news_md

replacements:
  PER:
    type: codes
    options:
      prefix: NOM
      padding: 3

  LOC:
    type: codes
    options:
      prefix: FAKER_ADDRESS
      padding: 3

  ORG:
    type: codes
    options:
      prefix: ENTREPRISE_ANONYME
      padding: 3

  DATE:
    type: codes
    options:
      prefix: DATE_ANONYME
      padding: 3

  EMAIL:
    type: codes
    options:
      prefix: EMAIL
      padding: 3

  PHONE:
    type: codes
    options:
      prefix: TEL
      padding: 3

  IBAN:
    type: codes
    options:
      prefix: IBAN
      padding: 3

exclude_entities:
  - MISC